.list-style-none {
  list-style: none;
}
.cursor-pointer {
  cursor: pointer;
  transition: 0.5s;
}
.cursor-pointer:hover {
  background-color: lightgray;
}
.delete-btn {
  display: inline-block;
}
.change-info-btn {
  display: none;
}
/* .change-info-btn:target {
  display: block;
} */
.swap .delete-btn {
  display: none;
}
.swap .change-info-btn {
  display: inline-block;
}
#ulPhanTrang {
  display: block;
  text-align: left;
}
